html{
    scroll-snap-type:y mandatory;
}
.app{
    height:100vh;
    background-color: black;
    display:grid;
    place-items: center;
}
.app_videos{
    position:absolute;
    height:500px;
    border-radius:20px;
    width:100%;
    max-width:500px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
.app_videos::-webkit-scrollbar{
    display:none;
}